<div class="hero-section">
    <div class="content">
      <div class="container">
              <h1 class="my-name">Alexis Nicole</h1>
              <h3 class="job-title">Software Developer</h3>
            <p class="job-exp">
              a web developer with nearly 3 years of 
              hands-on experience building modern, 
              responsive web applications. 
              I specialize in Angular and Firebase, 
              and I’m passionate about writing clean, 
              maintainable code that brings ideas to life.
            </p>
        
           <div class="buttons-container">
             <button class="mainpage-button">View My Work</button>
             <button class="mainpage-button">Get In Touch</button> 
           </div>
      </div>
    </div>
  </div>
  